# Created by .ignore support plugin (hsz.mobi)
# IntelliJ
*.iml
*.ipr
*.iws
*.fb
.idea


# Eclipse
.classpath/
.project/
.settings/
*.classpath
*.project

# Maven
target/
*.versionsBackup
*/dependency-reduced-pom.xml
.flattened-pom.xml
bin/
*.checkstyle

# Mac
.DS_Store

#logs
logs/
*.log
config-filter.properties

#test inputs
*.inputs
/.classpath
/.project
